* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

body > * {
  padding: 0 10%;
}

.image-section img {
  width: 40rem;
}
.nav-container,
.first-section {
  background-color: #1f2937;
}

.nav-list {
  display: flex;
  gap: 1rem;
  padding: 1rem 0rem;
}

.nav-item {
  list-style: none;
  font-size: 18px;
  color: #e5e7eb;
}
.header-logo {
  margin-right: auto;
  font-size: 24px;
}

.first-section {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 3rem;
  align-items: center;
  gap: 3rem;
}

.first-section > .text-section > h1 {
  font-size: 48px;
  color: #f9faf8;
}

.first-section > .text-section > p {
  font-size: 18px;
  color: #e5e7eb;
}

.first-section button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 0.5rem 2rem;
  font-weight: bold;
  border-radius: 0.5rem;
}

.first-section > .text-section > * {
  max-width: 50%;
  margin: 1%;
}
.second-section {
  text-align: center;
}
.second-section h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  margin-bottom: 3rem;
  padding-top: 2rem;
}

.cards {
  display: flex;
  gap: 4rem;
  justify-content: center;
  padding: 0 10%;
  text-align: center;
  padding-bottom: 6rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 10rem;
}

.card div {
  height: 10rem;
  width: 10rem;
  border: 4px solid #3882f6;
  border-radius: 0.5rem;
}

.third-section {
  background-color: #e5e7eb;
  padding: 6rem 20rem;
}

.third-section em {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
}

.third-section .author {
  float: right;
  margin-top: 1rem;
}
