* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

body > * {
  padding: 0 10%;
}

.image-section img {
  width: 40rem;
}
.nav-container,
.first-section {
  background-color: #1f2937;
}

.nav-list {
  display: flex;
  gap: 1rem;
  padding: 1rem 0rem;
}

.nav-item {
  list-style: none;
  font-size: 18px;
  color: #e5e7eb;
}
.header-logo {
  margin-right: auto;
  font-size: 24px;
}

.first-section {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 3rem;
  align-items: center;
  gap: 3rem;
}

.first-section > .text-section > h1 {
  font-size: 48px;
  color: #f9faf8;
}

.first-section > .text-section > p {
  font-size: 18px;
  color: #e5e7eb;
}
